<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap-permissions.php"
         colors="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true">

    <testsuites>
        <testsuite name="Permissions">
            <directory>tests/Permissions</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <file>includes/core/permissions.php</file>
        </include>
    </source>
</phpunit>
